<div class="input-group">
    <h2>Search for your favourite food : </h2>
    <div class="form-outline">
        <input id="search-focus" type="search" id="form1" class="form-control" [formControl]="food"
            placeholder="Search Food" />

        <button type="button" (click)="searchFood()" class="btn btn-primary">
            Search
        </button>
    </div>
</div>

<!-- https://picsum.photos/200/300
https://loremflickr.com/320/240/dog -->



<div style="margin: 0 auto; width: 300px;">
    <h1>{{Results}}</h1>
</div>

<div class="card-columns">
    <div *ngFor="let field of highfields ">
        <div class="card" style="width: 18rem; margin: 25px 25px;">
          <img class="card-img-top" src="https://loremflickr.com/320/240/{{field.description}}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"> {{field.brandOwner}}</h4>
                <h5 class="card-title" style="font-weight: 200;">Food : {{field.description}}</h5>
                <div class="exp-panel">
                    <mat-expansion-panel style="margin-bottom: 10px;" (open)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                View Ingredients
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{field.ingredients}}</p>
                    </mat-expansion-panel>
                </div>
                <h5 class="card-title">Score : {{field.score}}</h5>
                <div style="display: flex;">
                    <button class="btn btn-sm" data-toggle="modal" data-target="#exampleModalCenter" (click)="addFavourites(field)">View Nutrients</button>
                </div>
               
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title" id="exampleModalLongTitle">Nutrients</h1>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div *ngFor="let nutrient of field.foodNutrients">
                              <h3>{{nutrient.nutrientId}} {{nutrient.nutrientName}} {{nutrient.nutrientNumber}} {{nutrient.unitName}}</h3>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please wait. </p>
    </ngx-spinner>
</div>
  
  