
<div class="container">
    <small style="color: red;">{{errMessage}}</small>

    <h2>Login</h2>
    <form [formGroup]="user">
  
        <div class="form-group">
      <label >UserName</label>
      <input type="text" id="name" formControlName="username" placeholder="Your name">
      <small style="color: red;">{{usernameError}}</small>
      </div>
  
      <div class="form-group">
      <label >Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Password">
      <small style="color: red;">{{passwordError}}</small>
      </div>
    
      <input type="submit" (click)="onSubmit()" value="Submit">
    </form>
  </div>